.poweredBySection {
    padding:4rem;
    text-align: center;
    background-color: var(--ifm-background-color);
  }
  
  .heading {
    color: var(--ifm-font-color-secondary);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center; /* Center all cards horizontally */
    flex-wrap: wrap;
    gap: 2rem; /* Increase gap between cards */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem; /* Increase gap between image and title */
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    border: 1px solid var(--ifm-color-emphasis-200);
    border-radius: var(--ifm-global-radius);
    background-color: var(--ifm-card-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    text-decoration: none;
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .iconWrapper {
    font-size: 5rem;
    color: var(--ifm-color-primary);
  }
  
  .cardTitle {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--ifm-heading-color);
  }
  
  .cardTitle a {
    text-decoration: none;
    color: inherit;
  }
  
  .cardTitle a:hover {
    text-decoration: underline;
  }
  
  .cardDescription {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--ifm-font-color-secondary);
    line-height: 1.6;
  }
