/* Sponsor section container */
.sponsorSection {
    height: 1px;
    left: 50%;
    margin: 40px 0;
    min-width: 1000px;
  }
  
  /* Inner container holding text/links */
  .sponsorSection > div {
    /* background-color: var(--wdio-section-background-color); */
    /* border: 1px solid var(--ifm-color-primary); */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 460px;
    align-items: center;

  }
  
  /* The "Sponsored by" and "and" text */
  .sponsorSection p {
    font-size: 1em;
    font-style: normal;
    line-height: 2.2em;
    margin: 5px 10px 2px 0;
  }
  
  /* Optional class to remove margin from the second <em> */
  .noMarginRight {
    margin-right: 0 !important;
  }
  
  /* The links inside the sponsor section */
  .sponsorSection a {
    line-height: 1em;
  }
  
  /* Sponsor logos */
  .sponsorSection img {
    max-width: 150px;
  }
  